// Standard colors
$Black: #000;
$LightBlack: #0A1624;
$Gray: #8B8B8B;
$White: #fff;

// Colors
$color1: #1165C5;
$color2: #278CFF;
$color3: #7D9AB9;
$color4: #CFDCE9;
$color5: #7AB0E6;
$color6: #00438F;


*{
    margin: 0;
    padding: 0;
}
