// Standard colors
$Black: #000;
$LightBlack: #0A1624;
$Gray: #8B8B8B;
$White: #fff;

// Colors
$color1: #1165C5;
$color2: #278CFF;
$color3: #7D9AB9;
$color4: #CFDCE9;
$color5: #7AB0E6;
$color6: #00438F;


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $White;
    font-family: 'Poppins', sans-serif;
    header{ // begin header
        // Colors
        background: rgb(17,101,197);
        background: linear-gradient(180deg, rgba(17,101,197,1) 0%, rgba(39,140,255,1) 100%);
        color: $White;
        font-weight: bold;

        // Position
        display: flex;
        align-items: center;
        padding-top: 0.8%;
        padding-bottom: 0.8%;

        h1{
            display: flex;
            justify-content: left;
            width: 80%;
            margin-left: 7%;    
             
        }

        .buttons{
            display: flex;
            justify-content: space-between;
            margin-right: 7%;
            width: 30%;

            a{ 
                text-decoration: none;
                color: $color1;
                background-color: $White;
                font-size: 20px;
                padding: 1%;
                padding-left: 3%; padding-right: 3%;
                border-radius: 5px;
              
                &:hover{background-color: #97d9ff;}       
            }
        }
    } // end header
    .front{
        display: flex;
        align-items: center;
        width: 100%;

        &__left-part{
            margin-left: 7%;
            margin-top: 10%;
            width: 70%;
            
            h1{
                font-size: 40px;
                color: $Black;
                span{color: $color2;}
            }
            h2{
                margin-top: 2%;
                color: $Gray;
                font-size: 25px;
            }
            h3{
                margin-top: 1%;
                margin-bottom: 4%;
                color: $color3;
                font-size: 16px;
                width: 26%;
            }
            a{
                text-decoration: none;
                background-color: $color2;
                color: $White;
                padding: 1% 2%;
                border-radius: 5px;  
            }
        }
        &__right-part{
            margin-top: 0%;
            width: 30%;
            margin-right: 7%;
            display: flex;
            justify-content: left;
            .image-border{

                .circle1{
                    width: 460px;
                    height: 340px;
                    border-radius: 500px;

                    background-color: $color2;
                    position: absolute;
                }
                .circle2{
                    width: 400px;
                    height: 290px;
                    border-radius: 500px;

                    background-color: $color5;
                    border: 10px solid $White;
                    position: absolute;
                }
            }
        }
    }
}
