// Colors
$mainColor1: #1A40E2;
$mainColor2: #3EAAE7;

$lightMainColor1: #6978CE;
$lightMainColor2: #7CDFEE;

$WebBackgroundColor: #111111;
$ContentBackgroundColor: #0E0D0D;

$Grey: #767676;
$white: #fff;

// Font sizes
$fontSize1: 3.5rem;     //
$fontSize2: 3.1rem;     //
$fontSize3: 2.813rem;   // 45px
$fontSize4: 2.188rem;   // 35px
$fontSize5: 1.875rem;   // 30px
$fontSize6: 1.563rem;   // 25px
$fontSize7: 1.25rem;    // 20px
$fontSize8: 1.0rem;     // 15px

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $WebBackgroundColor;
    font-family: "Poppins", sans-serif;

    //Navigation bar
    header{
        display: flex;
        align-items: center;
        justify-content: center;

        border-bottom: 2px solid $Grey;
        box-shadow: 0 4px 2px -2px $WebBackgroundColor;
        background-color: $ContentBackgroundColor;
        font-weight: bold;
        padding: 2%;

        a{
            text-decoration: none;
            font-size: $fontSize6;
            color: $mainColor2;
        }
        .hover:hover{
            color: $lightMainColor2;
        }

        .nav-title{
            font-size: $fontSize4;
            color: $mainColor1;
            flex-grow: 3;
            padding-left: 6%;
        }

        .JC-Right{
            display: flex;
            justify-content: right;
        }
        .aboutButton{
            flex-grow: 0.6;
        }
        .projectsButton{
            flex-grow: 0.6;
        }
        .contactButton{
            flex-grow: 0.6;
            padding-right: 6%;
        }
    }// end | Navigation

    // Front-page
    .front-page{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 10%;

        .section1{
            font-weight: bold;

            .text1{
                color: $white;
                font-size: $fontSize2;
            }
            .text2{
                font-size: $fontSize1;
                background-color: transparent;
                background-image: linear-gradient(45deg, $mainColor1, $mainColor2);
                background-size: 45%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;

                margin-top: -2%;
                padding-bottom: 2%;
            }
            hr{
                border: 1px solid $Grey;
                width: 40%;
            }
            .text3{
                display: flex;       
                font-size: $fontSize6;
                padding-top: 0.3%;
                padding-bottom: 0.3%;

                .frontend{color: $lightMainColor1;}
                .slash{color: $Grey; font-size: $fontSize6;}
                .designer{color: $lightMainColor2;}
            }
            .text4{
                color: $Grey;
                width: 40%;
                padding-top: 3%;
            }
        }
        .section2{
            display: flex;
            justify-content: center;

            background-color: $ContentBackgroundColor;
            border-radius: 5px;
            border: 2px solid $Grey;
        }
    }
    // end | Front-Page
}